* {
	margin: 0;
	padding: 0;
	font-family: wf_segoe-ui_light, 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
}

body {
	background-color: white;
	overflow: hidden;
	width: 100%;
	height: 100%;
	width: 100vw;
	width: 100vh;
}

h1 {
	font-size: 10vh;
	font-style: italic;
	font-weight: normal;
	margin: 4vh 0vh 1vh 0vh;
}

button,
button:active,
button:hover,
button:focus,
button:visited {
	border: 0;
	cursor: pointer;
}

.loading {
	width:100%;
	padding-top: 40%;
	text-align: center;
	color: rgb(200,200,200);
}

#homepage,
#listpage,
#settingspage,
#errorpage {
	/* Old */
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	overflow-x: hidden;
	overflow-y: auto;

	/* Fancy */
	font-size: 4vh;
	width: 100vw;
	height: 100vh;
}

#homepage {
	left: 0vw;
	z-index: 100;
}

#listpage {
	left: 100vw;
	z-index: 200;
}

#settingspage {
	left: 200vw;
	z-index: 300;
}

#itemgrid {
	width: 100%;
}

#emptyinhere {
	position: absolute;
	top: 7vh;
	z-index: 200;
}

#itemnew,
.item {
	width: 100%;
	padding: 1vh 0vh 1vh 2vh;
	font-size: 4vh;
	border: 0;
	z-index: 250;
}

.itemname {
	height: 6vh;
	font-size: 4vh;
	margin-right: 2vh;
}

.itemremove {
	font-size: 3vh;
	line-height: 3vh;
	background-color: transparent;
}

.list {
	width: 100%;
	padding: 2vh 0vh 2vh 2vh;
	color: white;
}

.listname {
	font-size: 12vh;
	margin-right: 4vh;
}

.list:hover .listname,
.list:focus .listname {
	color:white;
}

.listcount {
	height: 5vh;
	width: 5vh;
	display: inline-block;
	text-align: center;
	font-size: 4vh;
	line-height: 4vh;
	border-radius: 2.5vh;
	position: relative;
	top: -1vh;
}

.listcount span {
	position: relative;
	left: -0.1vh;
	top: 0.2vh;
}

#listfooter,
#homefooter {
	font-size: 2vh;
	margin: 8vh 2vh 12vh 2vh;
}

#listfooter,
#liststatus {
	text-align: right;
}

#liststatus,
#syncstatus,
#themestatus {
	padding: 0vh 0vh 2vh 0vh;
}

.leftcol {
	text-align: right;
	padding-right:1vh;
}

#homebutton {
	padding: 2vh;
	width: 30vh;
	text-align: right;
	border-top-left-radius: 1vh;
	border-bottom-left-radius: 1vh;
	margin-right: -2vh;
	font-size: 3vh;
}

#themechoices {
	display: none;
}

.footerbutton {
	font-size: 2vh;
	padding: 1vh 2vh;
	border-radius: .5vh;
	border: 0;
	margin: 1vh 1vh 1vh 0vh;
}

