* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: rgb(200,200,200);
	overflow-x: hidden;
}

h1 {
	font-size:3em;
	font-style: italic;
	font-weight: normal;
}

button,
button:active,
button:hover,
button:focus,
button:visited {
	border:0px;
	cursor: pointer;
}

#wrapper {	
	font-family: "Segoe UI", sans-serif;
	font-size:26px;
	overflow-x: hidden;
	/*
	overflow-y: scroll;
	*/
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#itemGrid {
	width: 100%;
}

#itemNew, 
.item {
	width: 100%;
	padding: 16px 0px 16px 20px;
	border: 0px;
	height:1.4em;
}

.item {
	color: white;
}

.listcount {
	display: inline-block;
	text-align: center;
	font-size:12px;
	margin-left:12px;
	height:20px;
	width:20px;
	line-height: 20px;
	border-radius: 10px;
	position: relative;
	top: -4px;
}

.removeButton {
	color: #33c;
	font-size:1.2em;
	line-height: 26px;
	background-color: transparent;
	border: 0px;
	margin: 8px 20px;
}

#footer {
	font-size: .5em;
	margin: 36px 0px 20px 20px;
}

#liststatus,
#syncstatus,
#themestatus {
	padding: 12px 0px 0px 0px;
}

#homeButton {
	padding: 12px 20px;
	width:200px;
	text-align: left;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	margin-left:-20px;
	font-size:1.4em;
}

#themechoices {
	display: none;
}

.themechooserbutton {
	padding: 4px 16px;
	border-radius: 3px;
	border:0px;
	margin-right:2px;
	margin-bottom:2px;
}

